<h1>Recruiter Note #<%= @recruiter_note.id %></h1>

<p>
  <b>Candidate:</b>
  <%= @recruiter_note.candidate.full_name %>
</p>

<p>
  <b>Note:</b>
  <%= @recruiter_note.note.description %>
</p>

<p>
  <b>Recruiter:</b>
  <%= @recruiter_note.recruiter.full_name %>
</p>


