<h1>Hiring Manager Job #<%= @hiring_manager_job.id %></h1>

<p>
  <b>Hiring manager:</b>
  <%= @hiring_manager_job.hiring_manager_id %>
</p>

<p>
  <b>Job:</b>
  <%= @hiring_manager_job.job_id %>
</p>


