<h1>Candidate Recruiter #<%= @candidate_recruiter.id %></h1>

<p>
  <b>Candidate:</b>
  <%= @candidate_recruiter.candidate.full_name %>
</p>

<p>
  <b>Recruiters:</b>
  <%= @candidate_recruiter.recruiter.full_name %>
</p>


