<h1>Hiring Manager Note #<%= @hiring_manager_note.id %></h1>

<p>
  <b>Candidate:</b>
  <%= @hiring_manager_note.candidate_id %>
</p>

<p>
  <b>Note:</b>
  <%= @hiring_manager_note.note_id %>
</p>

<p>
  <b>Hiring manager:</b>
  <%= @hiring_manager_note.hiring_manager_id %>
</p>


