<p>
  <b>Client:</b>
  <%= @client_job.client_id %>
</p>

<p>
  <b>Job:</b>
  <%= @client_job.job_id %>
</p>


<%= link_to 'Edit', edit_client_job_path(@client_job) %> |
<%= link_to 'Back', client_jobs_path %>
